nav {
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.content {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
  position: absolute;
  inset: 0;
}

p {
  color: var(--color-white);
  font-size: 36px;
  margin: 0;
  text-align: center;
}

img {
  height: 63.98px;
  width: 113.77px;
}
