.boton {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 4px;
  border: 0px;
  padding: 8px 18px;
  font-size: 14px;
}

.boton[disabled] {
  background-color: var(--color-gray-light);
  cursor: not-allowed;
}

input[disabled] {
  background-color: var(--color-gray-light);
  cursor: not-allowed;
}

button {
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 0;
  font-size: 14px;
}

.peper {
  border-top: 2px solid var(--color-gray-light);
  padding-top: 2px;
}
